<h1>UK ROAD ACCIDENT DATA ANALYSIS</h1>
<h2>INCLUSIVE YEAR 2019 - 2022</h2>

<h2>Analyts : Christian Genovana</h2>

<h1>DATA PREPARATION</h1>

<p>Transfer Data set to folder</p>

<h3>Importing Libraries</h3>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway

<h1>DATA FRAME</h1>

In [4]:
accident = pd.read_csv('datasets\\accident_data.csv')

In [5]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [6]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [7]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [8]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mean())
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mean())
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna('unknown road condition')
accident['Road_Type'] = accident['Road_Type'].fillna('unaccounted')
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna('unaccounted')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [9]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [10]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

<h1>Converting accident date to actual date types</h1>

In [11]:
accident['Accident Date']

0           5/6/2019
1           2/7/2019
2         26-08-2019
3         16-08-2019
4           3/9/2019
             ...
660674    18-02-2022
660675    21-02-2022
660676    23-02-2022
660677    23-02-2022
660678    28-02-2022
Name: Accident Date, Length: 660679, dtype: object

In [12]:
accident['Accident Date'] = accident['Accident Date'].astype('str')
accident.dtypes
#remove spaces
accident['Accident Date'] = accident['Accident Date'].str.strip()
#replace / with -
accident['Accident Date'] = accident['Accident Date'].str.replace('/','-')

In [13]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [14]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

In [15]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h2>Changing to category</h2>

In [16]:
accident['Accident_Severity']=accident['Accident_Severity'].astype('category')

In [17]:
accident['Light_Conditions']=accident['Light_Conditions'].astype('category')

In [18]:
accident['District Area']=accident['District Area'].astype('category')

In [19]:
accident['Number_of_Casualties']=accident['Number_of_Casualties'].astype('category')

In [20]:
accident['Number_of_Vehicles']=accident['Number_of_Vehicles'].astype('category')

In [21]:
accident['Road_Surface_Conditions']=accident['Road_Surface_Conditions'].astype('category')

In [22]:
accident['Road_Type']=accident['Road_Type'].astype('category')

In [23]:
accident['Urban_or_Rural_Area']=accident['Urban_or_Rural_Area'].astype('category')

In [24]:
accident['Weather_Conditions']=accident['Weather_Conditions'].astype('category')

In [25]:
accident['Vehicle_Type']=accident['Vehicle_Type'].astype('category')

In [26]:
accident['Latitude']=accident['Latitude'].astype('category')

In [27]:
accident['Longitude']=accident['Longitude'].astype('category')

In [28]:
accident.dtypes

Index                              object
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                         category
Light_Conditions                 category
District Area                    category
Longitude                        category
Number_of_Casualties             category
Number_of_Vehicles               category
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
dtype: object

In [29]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2019-07-02,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,2019-08-26,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,unaccounted,Urban,unaccounted,Taxi/Private hire car
3,200701BS66128,Serious,2019-08-16,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,unaccounted,Urban,unaccounted,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,2022-02-21,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,2022-02-23,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,2022-02-23,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,2022-02-28,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [30]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  category
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  category
 7   Number_of_Casualties     660679 non-null  category
 8   Number_of_Vehicles       660679 non-null  category
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
dtypes: category(12), datetime64[ns](1), object(1)
memory usage: 62.3+ MB

In [31]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

<h1>Insight no.1</h1>
<h3>There were more accidents in 2019, followed by 2020, and based on the results, the number of accidents has been decreasing each year.
</h3>

In [32]:
accidents_per_year = accident.groupby('Year')['Accident_Severity'].count()
print(accidents_per_year)

Year
2019    182115
2020    170591
2021    163554
2022    144419
Name: Accident_Severity, dtype: int64

<h1>Insight no.2</h1>
<h3>Theres no correlation between the number of casualties and number of vehicles</h3>

In [33]:
accident_corr = accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])

In [34]:
accident_corr

np.float64(0.2288888612692756)

In [35]:
accident[accident['Urban_or_Rural_Area'] == 'Urban']['Number_of_Casualties']

0         1
1         1
2         1
3         1
4         1
         ..
660293    1
660309    1
660311    1
660382    1
660383    1
Name: Number_of_Casualties, Length: 421678, dtype: category
Categories (36, int64): [1, 2, 3, 4, ..., 47, 48, 62, 68]

<h1>Insight no.3</h1>
<h3>There's no correlation between urban or Rural area and Number of casualties</h3>

In [36]:
f_stats, p_value = f_oneway(accident[accident['Urban_or_Rural_Area'] == 'Urban']['Number_of_Casualties'],
                             accident[accident['Urban_or_Rural_Area'] == 'Rural']['Number_of_Casualties']
                           )
print(p_value)

0.0

<h1>Insight no.4</h1>
<h3>Birmingham have the highest number of fatal accidents with 105 reported followed by Leeds with 93 reported then Highland with 88 reported</h3>

In [37]:
severity_district = accident[accident['Accident_Severity'] == 'fatal']['District Area'].value_counts()

In [38]:
severity_district

District Area
York               0
Aberdeen City      0
Aberdeenshire      0
Adur               0
Allerdale          0
                  ..
Ashford            0
Ashfield           0
Arun               0
Argyll and Bute    0
Angus              0
Name: count, Length: 422, dtype: int64

<h1>Insight no.5</h1>
<h3>Saturday has the highest number of accidents (43,164), followed by Wednesday (40,037) and Friday (39,822)</h3>

In [39]:
accident_day = accident['Accident Date'].dt.day_name().value_counts()

In [40]:
accident_day

Accident Date
Saturday     107178
Wednesday     99558
Thursday      99511
Friday        97900
Tuesday       94550
Sunday        89302
Monday        72680
Name: count, dtype: int64

<h1>Insight no.6</h1>
<h3>The proportion of accidents happening on weekdays is 28.27%</h3>

In [41]:
weekdays = (accident['Accident Date'].dt.dayofweek < 5).mean() * 100

In [42]:
weekdays

np.float64(70.26089825770154)

<h1>Insight no.7</h1>
<h3>The proportion of accidents happening on weekends is 11.84%</h3>

In [43]:
weekends = (accident['Accident Date'].dt.dayofweek >= 5).mean() * 100

In [44]:
weekends

np.float64(29.739101742298452)

<h1>Insight no.8</h1>
<h3>Fatal Accidents Occur Most on Dry Roads</h3>

In [45]:
severity_rtype = accident[accident['Accident_Severity'] == 'Fatal']['Road_Surface_Conditions'].mode()[0]

In [46]:
severity_rtype

'Dry'

<h1>Insight.9</h1>
<h3>Contrary to popular belief that most accidents happen in darkness or at night time, the majority of accidentsâ€”about 74.62% of the total accidents in 2022â€”happened during daylight.</h3>

In [47]:
df_2022 = accident[accident['Year'] == 2022]

In [48]:
print(f"total number of accident in 2019 is {df_2022['Light_Conditions'].value_counts().sum()}")
df_2022['Light_Conditions'].value_counts()

total number of accident in 2019 is 144419

Light_Conditions
Daylight                       107768
Darkness - lights lit           27544
Darkness - no lighting           7302
Darkness - lighting unknown      1317
Darkness - lights unlit           488
Name: count, dtype: int64

<h1>Insight no.10</h1>
<h3>85% of car accidents experience a slight status in accident severity, followed by serious accidents.</h3>

In [49]:
car = accident[accident['Vehicle_Type'] == "Car"]
print(f"The car category records the highest number of accidents, with a total of {car['Accident_Severity'].value_counts().sum()}")
car['Accident_Severity'].value_counts()

The car category records the highest number of accidents, with a total of 497992

Accident_Severity
Slight     424954
Serious     66461
Fatal        6577
Name: count, dtype: int64

<h1>Insight no.11</h1>
<h3>There is a strong correlation between The road surface condition and the number of vehicles
</h3>

In [50]:
f_stats, p_value = f_oneway(accident[accident['Road_Surface_Conditions'] == 'Dry']['Number_of_Vehicles'],
                             accident[accident['Road_Surface_Conditions'] == 'Frost or ice']['Number_of_Vehicles'],
                            accident[accident['Road_Surface_Conditions'] == 'Wet or damp']['Number_of_Vehicles']
                           )
print(p_value)

8.29335009257e-311

In [51]:
accident[accident['Road_Surface_Conditions'] == 'Dry']['Urban_or_Rural_Area']

0         Urban
2         Urban
3         Urban
4         Urban
5         Urban
          ...
660648    Rural
660649    Rural
660651    Rural
660670    Rural
660674    Rural
Name: Urban_or_Rural_Area, Length: 447821, dtype: category
Categories (3, object): ['Rural', 'Unallocated', 'Urban']

<h1>Insight no.12</h1>
<h3>Urban areas tend to have a higher frequency of accidents, but rural areas often experience more severe crashes due to higher speeds and limited emergency response time. This suggests that while urban accidents are more common, rural accidents may have a greater impact on road safety and fatality rates.</h3>

In [52]:
accident.groupby('Urban_or_Rural_Area')['Accident_Severity'].value_counts(normalize=True)

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\500895078.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  accident.groupby('Urban_or_Rural_Area')['Accident_Severity'].value_counts(normalize=True)

Urban_or_Rural_Area  Accident_Severity
Rural                Slight               0.820440
                     Serious              0.156124
                     Fatal                0.023436
Unallocated          Slight               0.909091
                     Serious              0.090909
                     Fatal                0.000000
Urban                Slight               0.872026
                     Serious              0.120718
                     Fatal                0.007257
Name: proportion, dtype: float64

<h1>Insight no.13</h1>
<h3>Motorcycles and bicycles tend to have a higher proportion of serious or fatal accidents due to lack of external protection and higher vulnerability in crashes.
</h3>

In [53]:
severity_by_vehicle = accident.groupby('Vehicle_Type')['Accident_Severity'].value_counts()
print(severity_by_vehicle)

severity_by_vehicle.unstack()

Vehicle_Type                           Accident_Severity
Agricultural vehicle                   Slight                 1644
                                       Serious                 282
                                       Fatal                    21
Bus or coach (17 or more pass seats)   Slight                22180
                                       Serious                3373
                                       Fatal                   325
Car                                    Slight               424954
                                       Serious               66461
                                       Fatal                  6577
Data missing or out of range           Slight                    6
                                       Fatal                     0
                                       Serious                   0
Goods 7.5 tonnes mgw and over          Slight                14770
                                       Serious                2321
                                       Fatal                   216
Goods over 3.5t. and under 7.5t        Slight                 5172
                                       Serious                 857
                                       Fatal                    67
Minibus (8 - 16 passenger seats)       Slight                 1671
                                       Serious                 276
                                       Fatal                    29
Motorcycle 125cc and under             Slight                13049
                                       Serious                2031
                                       Fatal                   189
Motorcycle 50cc and under              Slight                 6494
                                       Serious                1014
                                       Fatal                    95
Motorcycle over 125cc and up to 500cc  Slight                 6537
                                       Serious                1014
                                       Fatal                   105
Motorcycle over 500cc                  Slight                21861
                                       Serious                3457
                                       Fatal                   339
Other vehicle                          Slight                 4800
                                       Serious                 767
                                       Fatal                    70
Pedal cycle                            Slight                  152
                                       Serious                  39
                                       Fatal                     6
Ridden horse                           Slight                    4
                                       Fatal                     0
                                       Serious                   0
Taxi/Private hire car                  Slight                11368
                                       Serious                1771
                                       Fatal                   155
Van / Goods 3.5 tonnes mgw or under    Slight                29139
                                       Serious                4554
                                       Fatal                   467
Name: count, dtype: int64

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\3467943036.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  severity_by_vehicle = accident.groupby('Vehicle_Type')['Accident_Severity'].value_counts()

Accident_Severity                      Fatal  Serious  Slight
Vehicle_Type
Agricultural vehicle                      21      282    1644
Bus or coach (17 or more pass seats)     325     3373   22180
Car                                     6577    66461  424954
Data missing or out of range               0        0       6
Goods 7.5 tonnes mgw and over            216     2321   14770
Goods over 3.5t. and under 7.5t           67      857    5172
Minibus (8 - 16 passenger seats)          29      276    1671
Motorcycle 125cc and under               189     2031   13049
Motorcycle 50cc and under                 95     1014    6494
Motorcycle over 125cc and up to 500cc    105     1014    6537
Motorcycle over 500cc                    339     3457   21861
Other vehicle                             70      767    4800
Pedal cycle                                6       39     152
Ridden horse                               0        0       4
Taxi/Private hire car                    155     1771   11368
Van / Goods 3.5 tonnes mgw or under      467     4554   29139

<h1>Insight no.14</h1>
<h3>Accidents on wet or icy roads may be more severe because vehicles take longer to stop and lose control more easily.</h3>

In [54]:
severity_by_surface = accident.groupby('Road_Surface_Conditions')['Accident_Severity'].value_counts()
print(severity_by_surface)

Road_Surface_Conditions  Accident_Severity
Dry                      Slight               380395
                         Serious               61638
                         Fatal                  5788
Flood over 3cm. deep     Slight                  842
                         Serious                 152
                         Fatal                    23
Frost or ice             Slight                16317
                         Serious                2007
                         Fatal                   193
Snow                     Slight                 5290
                         Serious                 565
                         Fatal                    35
Wet or damp              Slight               160303
                         Serious               23785
                         Fatal                  2620
unknown road condition   Slight                  654
                         Serious                  70
                         Fatal                     2
Name: count, dtype: int64

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\1929255703.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  severity_by_surface = accident.groupby('Road_Surface_Conditions')['Accident_Severity'].value_counts()

<h1>Insight No. 15</h1>
<h3>Most accidents occur in "Fine no high winds" conditions with 441,739 slight, 72,046 serious, 7,100 fatal accidents reported</h3>

In [55]:
severity_weather = accident.groupby('Weather_Conditions')['Accident_Severity'].value_counts()

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\3408235156.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  severity_weather = accident.groupby('Weather_Conditions')['Accident_Severity'].value_counts()

In [56]:

severity_weather

Weather_Conditions     Accident_Severity
Fine + high winds      Slight                 7134
                       Serious                1245
                       Fatal                   175
Fine no high winds     Slight               441739
                       Serious               72046
                       Fatal                  7100
Fog or mist            Slight                 2963
                       Serious                 483
                       Fatal                    82
Other                  Slight                15184
                       Serious                1801
                       Fatal                   165
Raining + high winds   Slight                 8209
                       Serious                1261
                       Fatal                   145
Raining no high winds  Slight                69380
                       Serious                9468
                       Fatal                   848
Snowing + high winds   Slight                  773
                       Serious                 109
                       Fatal                     3
Snowing no high winds  Slight                 5637
                       Serious                 565
                       Fatal                    36
unaccounted            Slight                12782
                       Serious                1239
                       Fatal                   107
Name: count, dtype: int64

<h1>Insight no.16</h1>
<h3>Motorcycles and bicycles may peak in summer (June-August) due to good weather.
Heavy vehicles (trucks, buses) may have steady numbers year-round because of commercial activity.
Private cars may increase during holidays (December, July, August) due to vacation trips.</h3>

In [57]:
vehicle_seasonal = accident.groupby(['Month', 'Vehicle_Type']).size().unstack().fillna(0)

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\1530064692.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  vehicle_seasonal = accident.groupby(['Month', 'Vehicle_Type']).size().unstack().fillna(0)

In [58]:
vehicle_seasonal

Vehicle_Type,Agricultural vehicle,Bus or coach (17 or more pass seats),Car,Data missing or out of range,Goods 7.5 tonnes mgw and over,Goods over 3.5t. and under 7.5t,Minibus (8 - 16 passenger seats),Motorcycle 125cc and under,Motorcycle 50cc and under,Motorcycle over 125cc and up to 500cc,Motorcycle over 500cc,Other vehicle,Pedal cycle,Ridden horse,Taxi/Private hire car,Van / Goods 3.5 tonnes mgw or under
Month,,,,,,,,,,,,,,,,
1,154,2161,39751,0,1402,527,160,1188,635,623,2072,413,21,2,1081,2682
2,149,1965,37306,0,1284,446,149,1193,605,583,1871,414,16,0,953,2557
3,174,2141,40677,1,1423,477,160,1290,695,680,2043,432,19,0,1060,2814
4,146,1912,39132,0,1394,492,177,1131,574,580,2032,473,6,1,1037,2657
5,184,2265,42547,0,1489,496,185,1248,619,669,2115,498,16,0,1161,2860
6,142,2204,42581,0,1437,520,168,1304,626,677,2154,491,19,0,1190,2968
7,178,2319,43343,0,1485,574,168,1351,642,673,2109,452,19,0,1145,2987
8,155,2037,40718,0,1424,503,169,1244,642,580,2117,445,17,1,1050,2811
9,157,2201,42525,0,1460,501,164,1323,643,672,2265,443,18,0,1170,2913
10,181,2282,44791,4,1571,543,159,1401,656,702,2375,556,13,0,1238,3108
11,174,2375,45641,0,1524,564,175,1393,659,658,2391,581,16,0,1172,3101
12,153,2016,38980,1,1414,453,142,1203,607,559,2113,439,17,0,1037,2702

<h1>Insight no.17</h1>
<h3>Saturday has the highest number of accidents (43,164), followed by Wednesday (40,037) and Friday (39,822)</h3>

In [59]:
accident_day = accident['Accident Date'].dt.day_name().value_counts()

In [60]:
accident_day

Accident Date
Saturday     107178
Wednesday     99558
Thursday      99511
Friday        97900
Tuesday       94550
Sunday        89302
Monday        72680
Name: count, dtype: int64

<h1>Insight no.18</h1>
<h3>Motorcycles and bicycles may have fewer night-time incidents, as riders avoid poor visibility conditions.
Taxis and private hire cars may have higher numbers at night, reflecting nightlife travel.
</h3>

In [61]:
light_vehicle = accident.groupby(['Light_Conditions', 'Vehicle_Type']).size().unstack().fillna(0)

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\1750036037.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  light_vehicle = accident.groupby(['Light_Conditions', 'Vehicle_Type']).size().unstack().fillna(0)

In [62]:
light_vehicle

Vehicle_Type,Agricultural vehicle,Bus or coach (17 or more pass seats),Car,Data missing or out of range,Goods 7.5 tonnes mgw and over,Goods over 3.5t. and under 7.5t,Minibus (8 - 16 passenger seats),Motorcycle 125cc and under,Motorcycle 50cc and under,Motorcycle over 125cc and up to 500cc,Motorcycle over 500cc,Other vehicle,Pedal cycle,Ridden horse,Taxi/Private hire car,Van / Goods 3.5 tonnes mgw or under
Light_Conditions,,,,,,,,,,,,,,,,
Darkness - lighting unknown,19,267,4914,0,185,59,20,136,68,86,228,57,2,0,131,312
Darkness - lights lit,365,5142,96994,1,3440,1192,347,3074,1494,1480,5176,1126,39,1,2658,6806
Darkness - lights unlit,7,112,1933,0,67,16,4,50,26,25,88,23,2,0,49,141
Darkness - no lighting,113,1427,28385,0,963,367,121,794,424,447,1428,299,8,0,704,1957
Daylight,1443,18930,365766,5,12652,4462,1484,11215,5591,5618,18737,4132,146,3,9752,24944

<h1>Insight no.19</h1>

<h3>Single carriageways have the highest number of accidents with 415,557 slight, 70,059 serious, and 6,527 fatal accidents reported</h3>

In [63]:
rtype_severity = accident.groupby('Road_Type')['Accident_Severity'].value_counts()

C:\Users\katherine\AppData\Local\Temp\ipykernel_8624\2649944634.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rtype_severity = accident.groupby('Road_Type')['Accident_Severity'].value_counts()

In [64]:
rtype_severity

Road_Type           Accident_Severity
Dual carriageway    Slight                85863
                    Serious               11746
                    Fatal                  1815
One way street      Slight                11809
                    Serious                1655
                    Fatal                    95
Roundabout          Slight                40185
                    Serious                3665
                    Fatal                   142
Single carriageway  Slight               415557
                    Serious               70059
                    Fatal                  6527
Slip road           Slight                 6381
                    Serious                 611
                    Fatal                    49
unaccounted         Slight                 4006
                    Serious                 481
                    Fatal                    33
Name: count, dtype: int64

<h1>Insight no.20</h1>
<h3>The highest accident count (45) occurs at latitude 52.949719, longitude -0.977611</h3>

In [65]:
long_lat = accident[['Latitude', 'Longitude']].value_counts()

In [66]:
long_lat

Latitude   Longitude
52.949719  -0.977611    45
52.458798  -1.871043    35
53.083165  -0.816789    33
52.967634  -1.190861    31
52.938860  -1.216694    29
                        ..
60.348429  -1.253807     1
60.349960  -1.254497     1
60.356602  -1.270295     1
60.356671  -1.282981     1
60.357188  -1.013089     1
Name: count, Length: 570518, dtype: int64